body {
    background-color: black;
 }

img {
    width: 350px;
    height: 350px;
    float: right;
}
    
#container {
    /* background-image: "http://www.intrawallpaper.com/static/images/518084-background-hd.jpg"; */
    background-color: #ac4a323b;
    color: white;
    height: 500px;
    text-align: left;
    margin: 40px;
    margin-top: 0;
    padding: 20px;
    font-size: 40px;
}

h1 {
    color: #87eb8f;
    text-align: center;
    font-size: 100px;
    margin: 20px 40px 20px 40px;
   
}



    


