body {
    background-color: black;
    background-image: "https://goo.gl/images/CdFWxp";
}

.jumbotron{
    background-color: grey;
    color:#081481;
    margin: 40px;
    text-align: center;
    
}
h1 {
    font-size: 100px;
    color: rgb(69, 69, 189);
    text-align: center;
    border: 1px solid white;
}


